*
{
	margin:			0;
	padding:		0;
}

*
{
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}


::selection
{
	background:transparent;
}



@font-face
{
	font-family: 	Friction-Regular;
	src: 			url("../Fonts/Friction-Regular.otf") format("opentype");
}

@font-face
{
	font-family: 	Friction-Mono;
	src: 			url("../Fonts/Friction-Mono.otf") format("opentype");
}


body
{
	background-color:			#222;
	font-family:				Friction-Regular;
	color:						#FFF;
	overflow:					hidden;
}

#toolBar
{
	position:			absolute;
}

#toolBar .toolItem
{
	color:				#FFF;
	text-align:			center;
	background-color:	#222;
	user-select: 		none;
}

#toolBar .toolItem.selected
{
	background-color:	#000;
}




