#toolBar
{
	height:				30px;
	border-bottom:		2px solid #000;
}

#toolBar .toolItem
{
	float:				left;
	height:				30px;
	width:				100px;
	line-height:		30px;
}

#toolBar .toolItem.selected
{
	background-color:	#000;
}

#mainView
{
	position:			absolute;
	background-color:	#222;
}

.toolView
{
	position:			absolute;
	top:				0;
	left:				0;
	width:				800px;
	display:			none;
}

.close-button
{
	display:			none;
}

#properties-globals
{
}

#properties-animation
{
}

#animation
{
	width:				120px;
	height:				180px;
}

#save-button
{
	position:			absolute;
	text-align:			center;
	background-color:	#222;
	width:				70px;
	height:				30px
	top:				40px;
	line-height:		30px;
}
