/*

VIEW GRID

*/

#view-grid
{
	position:			absolute;
	width:				1280px;
	height:				1024px;
	background-color:	#000;
}

#view-grid #drawing-canvas
{
	display:			none;
}

/*

VIEWS : rechercher + interagir

*/
#views
{
	position:			absolute;
	width:				3840px;
	height:				1024px;
	left:				-1280px;
	top:				0px;

    pointer-events: 	none;
}

#views .view-panel
{
	position:			absolute;
	width:				1280px;
	height:				1024px;
	top:				0px;
}

#views #view-rechercher
{
	left:				2560px;
}



#views #view-interagir
{
	position:			absolute;
	top:				0;
	left:				0;
}

#views #view-interagir #view-p5
{
	position: 			relative;
	width:				574px;
	height:				860px;
	top:				0px;
	left:				355px;
	z-index:			0;
}

#views #view-interagir #view-label
{
	position: 			absolute;
	font-size:			160px;
	z-index:			1;
}


#view-recherche
{
	position:			absolute;
	left:				62px;
	top:				148px;
	width:				1156px;
	background:			#000;
}

#view-input-code
{
	margin-top:			66px;
	margin-bottom:		58px;
	margin-left:		18px;
	width:				1156px;
}

#view-input-code input#code
{
	width:				1120px;
	height:				160px;
	border:				0;
	font-size:			160px;
	outline: 			none;
	background-color:	#000;
	color:				#FFF;
/*	font-family: 		Friction-Regular;
*/}

#view-keyboard .ligne
{
	display:			table;
/*	width:				450px;
*/	height:				90px;
	margin-left:		18px;
/*	margin-bottom:		8px;
	background-color:	#F00;
*/}

#view-keyboard .ligne-separator
{
	height:				12px;
	margin-left:		18px;
	width:				1120px;
	background:			url("../Img/keyBoardLineSep.png");
}






#view-keyboard .ligne .key
{
	box-sizing:			border-box;
	display:			table-cell;
/*	float:				left;
*/	width:				112px;
	height:				90px;
	text-align:			center;
	vertical-align:		middle;
	font-size:			67px;
	border-right:		1px solid #FFF;
	background-color:	#000;
	
}

#view-keyboard .ligne .key:first-child
{
	margin-left:		0;
}

#view-keyboard .ligne .key:last-child
{
	border-right:		0;
}

#view-keyboard .ligne #effacer
{
	width:				336px;
}


/*

MENU LE TEMPS SUSPENDU

*/

#menu
{
	font-family:		Friction-Mono;
	position:			absolute;
	width:				1156px;
	height:				128px;
	left:				62px;
	bottom:				10px;
	background-color:	#000;
}

#menu .menu-item
{
	position:			absolute;
	height:				128px;
	top:				0px;
	display:			none;
}

#menu .menu-item#interagir, #menu .menu-item#back-rechercher
{
	left:				0px;
	width:				296px;
/*	background-color:	#F00;
*/}

#menu .menu-item#center
{
	display: 			table;
	width:				564px;
	left:				296px;
	font-size:			35px;
}


#menu .menu-item#rechercher, #menu .menu-item#back-interagir
{
	left:				860px;
	width:				296px;
/*	background-color:	#F00;
*/}


#menu .menu-item .arrow
{
	position:			absolute;
	height:				128px;
	width:				52px;
	top:				0px;
}

#menu .menu-item .title
{
	position:			absolute;
	height:				128px;
	width:				244px;
	box-sizing:			border-box;
	display:			table;
}

#menu .menu-item#interagir .title, #menu .menu-item#back-rechercher .title
{
	left:				52px;
	padding-left:		16px;
}

#menu .menu-item#rechercher .title, #menu .menu-item#back-interagir .title
{
	right:				52px;
	padding-right:		16px;
	text-align:			right;
}


#menu .menu-item#interagir .arrow, #menu .menu-item#back-rechercher .arrow
{
	left:				0px;
	background:			url("../Img/icArrowLeft.png") no-repeat right center;
}

#menu .menu-item#rechercher .arrow, #menu .menu-item#back-interagir .arrow
{
	right:				0px;
	background:			url("../Img/icArrowRight.png") no-repeat left center;
}

p.center-horizontal
{
	text-align:			center;
}

p.center-vertical
{
	display: 			table-cell;
	vertical-align: 	middle;
}

/*

DEBUG

*/

#view-debug
{
	position: 			absolute;
	width:				200px;
	height:				100px;
	background-color:	#000;
	font-family:		Friction-Mono;
	font-size:			10px;
	opacity:			0.65;
}


















